@{
    ViewBag.Title = "Azure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<h2>Azure</h2>

<video>
  <source src="~/Content/img/M.mp4" type="video/mp4"> />
   
</video> 
<img src="~/Content/video/mahsa.gif" />

<iframe src="~/Content/img/M.mp4"></iframe>

