@{
    ViewBag.Title = "NoPermission";
    Layout = null;
}

<h2>NoPermission</h2>


<h3>You do not have permission to see anything</h3>

  @Html.ActionLink(" Back to index", "Index","Account")
